* {
  word-break: break-word;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a:link,
a:visited {
  text-decoration: none;
}

.bg-secondary-khaaki-800 {
  background-color: #b48c52 !important;
}

.bg-secondary-khaaki-200 {
  background-color: #c9ab81 !important;
}

.btn-wide {
  padding: 1rem 3rem;
  line-height: 1.5;
  height: 3.75rem;
}

.container {
  max-width: 1200px;
}

.font-size-1 {
  font-size: 0.75rem !important;
}

.font-size-2 {
  font-size: 0.875rem !important;
}

.font-size-5 {
  font-size: 1.5rem;
}

.font-size-7 {
  font-size: 1.875rem;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.footer-before-content form {
  flex: 0 0 57%;
  max-width: 57%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.field-container {
  flex: 1 1 0%;
  margin-bottom: 0.5rem;
}

.submit-container {
  margin-left: 1.1rem;
  clear: both;
}

.field-large {
  height: 3.75rem;
  padding: 0.844rem 2rem;
  border-color: #161619;
  color: #333;
  font-size: 16px;
  width: 100%;
  line-height: 1.3;
}

.height-5 {
  height: 50px;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.pb-6 {
  padding-bottom: 2.5rem !important;
}

.rounded-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.space-1 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.space-top-3 {
  padding-top: 6rem !important;
}

.space-bottom-2 {
  padding-bottom: 4rem !important;
}

.space-bottom-3 {
  padding-bottom: 6rem !important;
}

#social-icon-menu li:first-child {
  padding-left: 0;
}

.text-lh-sm {
  line-height: 1.2;
}

.text-black {
  color: black !important;
}

.text-secondary-gray-1080 {
  color: #ccc !important;
}

.text-gray-700 {
  color: #7c6e65;
}

@media (min-width: 768px) {
  .space-bottom-md-3 {
    padding-bottom: 6rem !important;
  }
}
@media (min-width: 992px) {
  .space-bottom-lg-3 {
    padding-bottom: 6rem !important;
  }
}
@media (min-width: 1200px) {
  .rounded-left-xl-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .rounded-right-xl-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}